body {
  background-image: linear-gradient(45deg,#3F51B5 0,#499abf 70%);
  padding: 50px;
  font: 14px "Lato",Montserrat,Helvetica,Arial,Sans-Serif;
}

.titulo {
  color: white;
  text-align: center;
  font-size: 3em;
}

#canvas_kmeans {
  margin-top: 20px;
  background: #ededed;
  border-radius: 10px;
}

.options {
  margin-top: 40px;
}

.options label {
  color: white;
}

.div-canvas-kmeans {
  min-height: 60vh;
  max-height: 60vh;
}

.label-button {
  visibility: hidden;
}